Dataset : '/movies.sqlite'

# importing the library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

1. connect your database -> sqlite3.connect(database)
2. use the cursor function -> database_variable.cursor()


Workflow
1. you need to establish a connection to sqlite database
2. then, you have to create a cursor object using the cursor function
3. then, execute the query -> cursor_object.execute('query')
4. to fetch the data from the database the use fetchall() of cursor object

## 1. establish a connection to sqlite database

In [2]:
import opendatasets as od

od.download("https://www.kaggle.com/datasets/priy998/imdbsqlitedataset")

Skipping, found downloaded files in ".\imdbsqlitedataset" (use force=True to force download)

In [3]:

db = 'imdbsqlitedataset/movie.sqlite'

conn = sqlite3.connect(db)
cur = conn.cursor()

## 2. get all the data aboyut the movies?

In [4]:
cur.execute("SELECT * FROM movies")
movies = cur.fetchall()

In [5]:
movie_df = pd.DataFrame(movies,
                        columns=['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title',
                                 'avg_rating', 'rating_count', 'overview', 'tagline', 'uid', 'director_id'])

In [6]:
movie_df

,id,original_title,budget,popularity,release_date,revenue,title,avg_rating,rating_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [7]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   avg_rating      4773 non-null   float64
 8   rating_count    4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

## 3. Get all the data about directors?

In [8]:
cur.execute("SELECT * FROM directors")
directors = cur.fetchall()

In [9]:
directors_df = pd.DataFrame(directors, columns=['name', 'id', 'gender', 'uid', 'department'])

In [10]:
directors_df.head()

                name    id  gender   uid department
0      James Cameron  4762       2  2710  Directing
1     Gore Verbinski  4763       2  1704  Directing
2         Sam Mendes  4764       2    39  Directing
3  Christopher Nolan  4765       2   525  Directing
4     Andrew Stanton  4766       2     7  Directing

## 4. Check how many movies are present in IMDB table

In [11]:
cur.execute('SELECT COUNT(TITLE) FROM movies')
count = cur.fetchall()

In [12]:
print(f"Number of the movies present in IMDB database is {count[0]}")

Number of the movies present in IMDB database is (4773,)

## 5. Find these 3 directors: James cameron, luc Besson, John Woo

In [13]:
cur.execute('select * from directors where name in ("James Cameron", "Luc Besson", "John Woo")')
three_directors = cur.fetchall()

In [14]:
print(f'these three directors data are : {three_directors}')

these three directors data are : [('James Cameron', 4762, 2, 2710, 'Directing'), ('John Woo', 4893, 2, 11401, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

## 6. Find all the directors with name starting with "Steven"

In [15]:
cur.execute('select * from directors where name like "Steven%"')
name_like = cur.fetchall()

In [17]:
print(f"The directors whose names are starting with the word 'Steven' are  : {name_like}")

The directors whose names are starting with the word 'Steven' are  : [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

## 7. Count the female directors

In [18]:
cur.execute('select count(id) from directors where gender=="1"')
females = cur.fetchall()

In [19]:
print(f"The number of female directors is {females[0][0]}")

The number of female directors is 150

## 8. Find the name of the 10th first women directors

In [23]:
cur.execute('select name from directors where gender==1')
tenth = cur.fetchall()

In [24]:
print(f"The tenth first women is {tenth[9][0]}")

The tenth first women is Angelina Jolie

## 9. What are the 3 most popular movies

In [26]:
movie_df

,id,original_title,budget,popularity,release_date,revenue,title,avg_rating,rating_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [27]:
cur.execute('select original_title from movies order by popularity desc limit 3')
most_popular = cur.fetchall()

In [32]:
print(f"The 3 most popular movies are  : {most_popular[0][0]}, {most_popular[1][0]} and {most_popular[2][0]}")

The 3 most popular movies are  : Minions, Interstellar and Deadpool

## 10. What are the 3 most bankable movies?

In [33]:
movie_df.head()

,id,original_title,budget,popularity,release_date,revenue,title,avg_rating,rating_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766

In [34]:
cur.execute('select original_title from movies order by budget desc limit 3')
most_bankable = cur.fetchall()

In [35]:
print(f"the 3 most bankable movies are {most_bankable[0][0]}, {most_bankable[1][0]} and {most_bankable[2][0]}")

the 3 most bankable movies are Pirates of the Caribbean: On Stranger Tides, Pirates of the Caribbean: At World's End and Avengers: Age of Ultron